body {
  background-color: #000;
  color: #ccc;
}
.form-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  height: 100%;
  border-radius: 25px;
}
.choice-of-service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 300px;
  height: 100px;
  margin-top: 20px;
}

::-webkit-input-placeholder {
  font-size: 20px;
}

.search-btn {
  background-color: #fae607;
  color: #1d1d1d;
  padding: 10px 22px;
  border-radius: 0 10px 10px 0;
  border: 0 none;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.search-btn:focus {
  outline: 0;
}
#search-box {
  background: #eee;
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
  border: 0 none;
  width: 200px;
  outline: none;
  cursor: pointer;
  font-size: 30px;
}

.search-input {
  background: #eee;
  margin-top: 20px;
  box-shadow: 0 0 5px 2.5px #fae607;
  border-radius: 12px;
}
