.service-input {
  padding: 10px 0;
}
input[type="radio"] {
  background-color: transparent;
  border: 0.0625em solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 white;
  cursor: pointer;
  font: inherit;
  height: 1em;
  outline: none;
  width: 1em;
  -webkit-appearance: none;
  cursor: pointer;
}
input:checked {
  background-color: #fae607;
  box-shadow: inset 0 0 0 0.1875em #fae607;
  transition: background 0.15s, box-shadow 0.1s;
}
input[type="radio"]:checked ~ label {
  color: #fae607;
}
.input-label {
  cursor: pointer;
  font-size: 26px;
}
